.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.fixed-scan-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

#map {
    height: 300px; // Asegúrate de que esto coincida con la altura en tu HTML
    width: 100%;
}
  