<div class="container">

  <ion-card (click)="openCharacterModal(character)" *ngFor="let character of characters">
    
    <iframe width="400" height="300" 
            [src]="getMapUrl(character)" 
            style="border: 1px solid black">
    </iframe><br/>

    <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
      <ion-card-subtitle>Found Characters</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Ubicación del Personaje</p>
      <p>Longitud: {{ character.ubicacion.lng }}</p>
      <p>Latitud: {{ character.ubicacion.lat }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Botón flotante para escaneo -->
  <div class="fixed-scan-button">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </div>
</div>
