<ion-card>

  <ion-card-header>
    <ion-card-title>Lista de los lugares</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-list *ngIf="!loading">

      <ion-card *ngFor="let lugar of lugaresList; let i = index">

        <ion-card-header>
          <ion-card-title><ion-icon aria-hidden="true" name="pin"></ion-icon>{{ lugar.name }}</ion-card-title>
          <ion-card-subtitle>{{ lugar.dimension !== 'unknown' ? lugar.dimension : lugar.type }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> 

          <ion-accordion-group>

            <ion-accordion>

              <ion-item slot="header">
                <ion-label>Residentes ({{ residentesList[lugar.id].length }})</ion-label>
              </ion-item>

              <ion-list slot="content">

                <ion-item *ngFor="let resident of residentesList[lugar.id]">

                  <ion-avatar slot="start">
                    <img [src]="resident.image" />
                  </ion-avatar>

                  <ion-label>
                    <h2>{{ resident.name }}</h2>
                    <p>{{ resident.species }} - {{ resident.status }}</p>
                  </ion-label>

                  <ion-button shape="round" class="boton" (click)="openCharacterModal(resident)">
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                  </ion-button>
          
                  <ion-button shape="round" class="boton" id="open-toast" (click)="toggleFavorite(resident)">
                    <ion-icon slot="icon-only" [name]="isFavorite(resident) ? 'star' : 'star-outline'"></ion-icon>
                  </ion-button>

                </ion-item>

              </ion-list>

            </ion-accordion>

          </ion-accordion-group>

        </ion-card-content>

      </ion-card>

      <ion-toast id="toast" [message]="toastMessage" [duration]="3000" [isOpen]="isToastOpen"></ion-toast>

    </ion-list>

    <ion-item *ngIf="!loading && lugaresList.length === 0">
      <ion-label color="medium">
        No hay lugares disponibles.
      </ion-label>
    </ion-item>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más lugares..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-card-content>
</ion-card>