.completed {
    opacity: 0.6;
    /* Hacer que parezca deshabilitado */
    pointer-events: none;
    /* Deshabilitar interacciones */
    background-color: #e0e0e0;
    /* Cambiar color de fondo */
}

.completed ion-label h2 {
    text-decoration: line-through;
    /* Agregar una línea al nombre */
    color: #757575;
    /* Cambiar el color del texto */
}

.completed ion-thumbnail img {
    filter: grayscale(100%);
    /* Cambiar a escala de grises */
}


.scrollable-list {
    max-height: 450px;
    /* Ajusta la altura máxima para el contenedor */
    overflow-y: auto;
    /* Habilita el scroll vertical */
    padding-right: 4px;
    /* Espacio para evitar que el scroll cubra el contenido */
}

