<ion-card>
  <ion-card-header>
    <ion-card-title></ion-card-title>
    <ion-card-subtitle>Characters Selected</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
    <ion-list class="card">

      <ion-item class="items" *ngFor="let character of characters">
        
        <ion-thumbnail slot="start">
          <img alt="{{ character.name }}" src="{{ character.image }}" />
        </ion-thumbnail>
        <ion-label>{{ character.name }}</ion-label>

        <ion-button shape="round" class="boton" (click)="openCharacterModal(character)">
          <ion-icon slot="icon-only" name="eye"></ion-icon>
        </ion-button>

        <ion-button shape="round" class="boton" id="open-toast" (click)="toggleFavorite(character)">
          <ion-icon slot="icon-only" [name]="isFavorite(character) ? 'star' : 'star-outline'"></ion-icon>
        </ion-button>
        

      </ion-item>

      <ion-toast id="toast" [message]="toastMessage" [duration]="3000" [isOpen]="isToastOpen"></ion-toast>

    </ion-list>

  </ion-card-content>

</ion-card>